{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock title %}
{% block login_active %}active{% endblock login_active %}

{% block content %}
<h4 class="my-4">Anmeldung</h4>
<form method="post" class="card p-4">
    {% csrf_token %}
    <div class="form-group">
        <label for="username" class="form-label">Pseudo</label>
        {% render_field form.username class="form-control" type="text" %}
    </div>
    <div class="form-group mt-4">
        <label for="password" class="form-label">Passwort</label>
        {% render_field form.password class="form-control" type="password" %}
    </div>
    <button type="submit" class="btn btn-outline-primary mt-4">Anmeldung</button>
</form>
{% endblock content %}