{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Passwort Reset{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
<h4 class="my-4">Passwort zurücksetzen</h4>
<form action="" method="POST" class="card p-4" autocomplete="off" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        Hallo !
        <br>
        Gib deine Email-Adresse an, damit du einen Link zum Zurücksetzen deines Passworts erhältst.
        <br>
        Klick und kontrolliert deinen Posteingang.
    </div>
    <div class="row mb-4">
        {{ form.email|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary mt-4">Senden</button>
</form>
{% endblock content %}