{% extends 'base.html' %}

{% block title %}Passwort Reset{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
<h4 class="my-4">EMail zum Passwort zurücksetzen abgesendet</h4>
    <div class="card p-4">
        <p class="mb-2">{{ member.first_name|title }},</p>
        <p>
            wir haben dir eine EMail zum Zurücksetzen des Passwortes an die angegebene EMail-Adresse gesendet, sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.
        </p>
        <p>
            Falls die EMail nicht angekommen sein sollte, bitte die EMail-Adresse auf Richtigkeit und gegebenenfalls den Spam-Ordner überprüfen.
        </p>
    </div>
{% endblock content %}