{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password change{% endblock title %}
{% block profile_active  %}active{% endblock profile_active  %}

{% block content %}
<h4 class="my-4">Passwort wechseln</h4>
<form method="post" class="card p-4" autocomplete="off" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-4">
            {{ form.old_password|as_crispy_field }}
    </div>
    <div class="row mb-4">
            {{ form.new_password1|as_crispy_field }}
    </div>
    <div class="row mb-4">
        {{ form.new_password2|as_crispy_field }}
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'myprofile' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-backward"></i></a>
        <button class="btn btn-outline-danger" type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
    </div>
</form>

{% endblock content %}