{% extends 'base.html' %}

{% block title %}Delete user{% endblock title %}

{% block user_active %}active{% endblock user_active %}

{% block content %}
<h4 class="my-4">Einen Benutzer löschen</h4>
<form method="post" class="card p-4">
    <p class="mb-4">Möchtest du den Benutzer <strong>{{ object.first_name|title }} {{ object.last_name|upper }}</strong> wirklich löschen ?</p>
    {% csrf_token %}
    {{ form }}
    <div class="d-flex justify-content-between">
        <a href="{% url 'allusers' %}" class="btn btn-outline-secondary">Abgeben</a>
        <button type="submit" class="btn btn-danger">Löschen</button>
    </div>
</form>
{% endblock content %}