{% extends 'base.html' %}

{% block title %}Benutzer{% endblock title %}
{% block user_active %}active{% endblock user_active %}

{% block content %}
<h4 class="my-4">Benutzer Liste</h4>
<div class="container my-4">
    <div class="d-flex justify-content-between">
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Neuer Benutzer</a>
        <form>
            <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Suche nach..." value="{{ request.GET.q }}">
                <button class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div>
                    <a href="{% url 'allusers' %}" class="btn btn-secondary input-group-text ms-2" type="button">
                        <i class="fa-solid fa-rotate"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Geburtstag</th>
                <th>Active</th>
                <th>Staff</th>
                <th>Superuser</th>
                <th colspan="2" class="text-center">Aktion</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.first_name|title }}</td>
                <td>{{ object.last_name|upper }}</td>
                <td>{{ object.username }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.birthday|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ object.is_active|yesno:"ja,nein" }}</td>
                <td>{{ object.is_staff|yesno:"ja,nein" }}</td>
                <td>{{ object.is_superuser|yesno:"ja,nein" }}</td>
                <td class="text-center">
                    <a href="{% url 'edituser' object.pk %}" class="btn btn-sm text-primary">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-sm text-danger" data-bs-toggle="modal" data-bs-target="#deleteuser{{ object.pk }}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            <!-- Delete user Modal -->
            <div class="modal fade" id="deleteuser{{ object.pk }}" tabindex="-1" aria-labelledby="deleteuserlabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-danger" id="deleteuserlabel">Einen Benutzer löschen</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger mt-3">
                                <i class="fas fa-times-circle fa-4x"></i>
                            </div>
                            <div class="text-center mt-3">
                                <h6 class="pb-2">Möchtest du den Benutzer</h6>
                                <strong class="text-danger">{{ object.first_name|title }} {{ object.last_name|upper }}</strong>
                                <h6 class="mt-2">wirklich löschen ?</h6>
                                <h6 class="mt-2 text-danger">
                                    Alle Aktivitäten, die mit diesem Benutzer verbunden sind, werden ebenfalls gelöscht!
                                </h6>
                            </div>
                        </div>
                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Abgeben</button>
                            <a href="{% url 'deleteuser' object.pk %}" class="btn btn-sm btn-outline-danger">Löschen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Delete user Modal -->
            {% empty %}
            <tr>
                <td colspan="11">
                    Keine Benutzer
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}