{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My profile{% endblock title %}
{% block profile_active  %}active{% endblock profile_active  %}

{% block content %}
<h4 class="my-4">Mein Profil</h4>
<form method="post" class="card p-4" autocomplete="off" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-2">
        <div class="col-6">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.birthday|as_crispy_field }}
        </div>
    </div>
    <div class="row mb-4">
        {{ form.email|as_crispy_field }}
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Aufgeben</a>
        <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Passwort ändern</a>
        <button class="btn btn-danger" type="submit">Speichern</button>
    </div>
</form>

{% endblock content %}