{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}
{% block user_active %}active{% endblock user_active %}

{% block content %}
<h4 class="my-4">Neuer Benutzer</h4>
<div class="my-2">
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
</div>
<form method="POST" class="card mt-3 p-4" autocomplete="off" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.birthday|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
</form>
{% endblock content %}