{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {% if type == 'new' %}
        Password creation
    {% elif type == 'reset' %}
        Passwort Reset
    {% endif %}
{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
{% if type == 'new' %}
    <h4 class="my-4">Erstellen des Passworts</h4>
{% elif type == 'reset' %}
    <h4 class="my-4">Passwort zurücksetzen</h4>
{% endif %}
<form action="" method="POST" class="card p-4" autocomplete="off" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        Hallo {{ user.first_name|title }} !
        <br>
        Du kannst jetzt dein Passwort einrichten.
    </div>
    <div class="row mb-4">
        {{ form.new_password1|as_crispy_field }}
    </div>
    <div class="row mb-4">
        {{ form.new_password2|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary mt-4">Speichern</button>
</form>
{% endblock content %}