.dispatcher {
	background-color: #ffd60a;
	color: #f48c06;
}

.dispatcher_card {
	border: #ffd60a 1px solid;
}

.pikett {
	background-color: #ecbcfd;
	color: #9846cc;
}

.pikett_card {
	border: #ecbcfd 1px solid;
}

.pikett_samstag {
	background-color: #ecbcfd;
	color: #9846cc;
}

.pikett_samstag_card {
	border: #ecbcfd 1px solid;
}

.pikett_sonnfeiertag {
	background-color: #ecbcfd;
	color: #9846cc;
}

.pikett_sonnfeiertag_card {
	border: #ecbcfd 1px solid;
}

.backup_pikett {
	background-color: #9d78b4;
	color: #ffffff;
}

.backup_pikett_card {
	border: #9d78b4 1px solid;
}

.kein_pikett {
	background-color: #b14df0;
	color: #ffffff;
}

.kein_pikett_card {
	border: #b14df0 1px solid;
}

.spezialauftrag {
	background-color: #414447;
	color: #ffffff;
}

.spezialauftrag_card {
	border: #414447 1px solid;
}

.home_office {
	background-color: #527a32;
	color: #ffffff;
}

.home_office_card {
	border: #527a32 1px solid;
}

.ferien {
	background-color: #08c3e9;
	color: #000000;
}

.ferien_card {
	border: #08c3e9 1px solid;
}

.kompensation {
	background-color: #88d498;
	color: #000000;
}

.kompensation_card {
	border: #88d498 1px solid;
}

.militarzvs {
	background-color: #b76935;
	color: #000000;
}

.militarzvs_card {
	border: #b76935 1px solid;
}

.weiterbildung {
	background-color: #145ec0;
	color: #ffffff;
}

.weiterbildung_card {
	border: #145ec0 1px solid;
}

.krank {
	background-color: #dc2f02;
	color: #000000;
}

.krank_card {
	border: #dc2f02 1px solid;
}