/*====================
        RESET
======================*/

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow: auto;
}

body {
  margin: 110px 0 0 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/*====================
        GENERAL
======================*/

a.nav-link {
  cursor: pointer;
}

label {
  color:rgb(120, 120, 120)
}

::placeholder {
  color: rgb(190, 190, 190) !important;
}

button:disabled {
  border: none;
  color: #9b9b9b !important;
}


/*====================
        HEADER
======================*/

/* Banner */
header div.navbar{
  height: 60px;
}

header nav {
  height: 50px;
}

/* Navigation */
.active {
  color: #ffac75 !important;
}


/*====================
Toast
======================*/

.success {
  background-color: #d1e7dd !important;
  color: #0f5132 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.warning {
  background-color: #fff3cd !important;
  color: #664d03 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.danger {
  background-color: #f8d7da !important;
  color: #842029 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.info {
  background-color: #cff4fc !important;
  color: #055160 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

/*====================
SIDEBAR
======================*/

.sidebar {
  position: fixed;
  top: 110px;
  width: 170px;
  height: 100vh;
}

.rounded_mask {
  position: fixed;
  top: 110px;
  left: 165px;
  width: 5px;
  height: calc(100vh - 110px - 40px);
  border-radius: 5px 0 0 5px;
}

.side_act {
  padding: 10px 15px 10px 10px;
}
.side_card {
  border-radius: 5px;
}

.name_card {
  font-size: 0.8rem;
}

/* .pikett_card {
  border: #ecbcfd 1px solid;
}

.dispatch_card {
  border: #ffd60a 1px solid;
} */


/*====================
MAIN
======================*/

.main_content {
  position: absolute;
  top: 110px;
  left: 170px;
  width: calc(100vw - 190px);
  padding-bottom: calc(100vh - 230px);
}


/*====================
        LEGEND
======================*/

.legend {
  width: 100%;
  position: sticky;
  top: 110px;
  z-index: 11;
  margin: 0;
  background-color: #f8f9fa;
  font-size: 0.7rem;
}

.legend_bloc {
  width: 175px !important;
}

.legend_flag {
  width: 35px !important;
  border-radius: 3px;
}

.weekend {
	background-color: #fcd5ce;
}

.weekend_card {
  color: #fcd5ce;
}

.holiday {
	background-color: #f4acb7;
}

.holiday_card {
  color: #f4acb7;
}

.other_holiday {
	background-color: #f7b267;
}

.other_holiday_card {
  color: #f7b267;
}


/* .dispatch_flag {
  background-color: #ffd60a;
  color: #f48c06;
}

.pikett_flag {
  background-color: #ecbcfd;
  color: #9846cc;
}

.backup_flag {
  background-color: #9d78b4;
  color: white;
}

.kein_flag {
  background-color: #b14df0;
  color: white;
}

.spezial_flag {
  background-color: #414447;
  color: white;
}

.home_flag {
  background-color: #527a32;
  color: white;
}

.ferien_flag {
  background-color: #08c3e9;
}

.frei_flag {
  background-color: #88d498;
}

.militar_flag {
  background-color: #b76935;
}

.bildung_flag {
  background-color: #145ec0;
  color: white;
}

.krank_flag {
  background-color: #dc2f02;
}

.we_flag {
  background-color: #fcd5ce;
}

.hday_flag {
  background-color: #f4acb7;
}

.ohday_flag {
  background-color: #f7b267;
} */


/*====================
        CALENDAR
======================*/

table#cal_table {
  border: none;
  table-layout: fixed;
  border-collapse:separate;
	border-spacing:0;
  border-left:1px solid #000;
}

table#cal_table th {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 200px;
  z-index: 10;
  background-color: #f8f9fa;
}

table#cal_table td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

table#cal_table #year_cell {
  border-bottom: none;
  z-index: 11;
}

.date_number {
  width: 42px;
}

.today_bg {
  background-color: #0ff507 !important;
}

table#cal_table .weekday_shortname {
  font-size: 0.8rem;
  border-bottom: none;
  border-top: 1px solid #000;
}

.holiday_line {
  min-height: 40px;
}

.holyday_cell {
  font-size: 0.55rem;
  overflow-wrap: break-word;
  max-width: 25px;
  font-family: Arial, sans-serif;
}

.week_nbr {
  font-size: 0.6rem;
  padding: 0.2em !important;
  font-family: Arial, sans-serif;
}


/*====================
        HOLIDAY
======================*/

.title_blas {
  width: 100px;
  transform: rotate(10deg);
}

.btn_blas {
  width: 20px;
}


/*====================
        MEMBERS
======================*/

.member_card {
  width: 320px;
}

.user_id {
  font-size: 0.8rem;
}


/*====================
        EVENTS
======================*/

#event_table tr td:first-child {
  width: 4%;
}

.filter_arrows{
  border: none;
  width: 25px;
  padding: 0 10px 0 0!important;
}



/*====================
        FOOTER
======================*/

#footer {
  height: 40px;
  font-weight: 200;
  font-size: 0.7rem;
}