/*====================
        RESET
======================*/

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow: auto;
}

body {
  margin: 110px 0 0 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*====================
        GENERAL
======================*/

a.nav-link {
  cursor: pointer;
}

label {
  color:rgb(120, 120, 120)
}

::placeholder {
  color: rgb(190, 190, 190) !important;
}


/*====================
        HEADER
======================*/

/* Banner */
header div.navbar{
  height: 60px;
}

header nav {
  height: 50px;
}

/* Navigation */
.active {
  color: #ffac75 !important;
}


/*====================
Toast
======================*/

.success {
  background-color: #d1e7dd !important;
  color: #0f5132 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.warning {
  background-color: #fff3cd !important;
  color: #664d03 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.danger {
  background-color: #f8d7da !important;
  color: #842029 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

.info {
  background-color: #cff4fc !important;
  color: #055160 !important;
  border: 0 !important;
  padding: 0.9rem !important;
  font-size: 1rem !important;
}

/*====================
SIDEBAR
======================*/

.sidebar {
  position: fixed;
  top: 110px;
  width: 170px;
  height: 100vh;
}

.rounded_mask {
  position: fixed;
  top: 110px;
  left: 165px;
  width: 5px;
  height: calc(100vh - 110px - 40px);
  border-radius: 5px 0 0 5px; 
}

.side_act {
  padding: 10px 15px 10px 10px;
}
.side_card {
  border-radius: 5px;
}

.name_card {
  font-size: 0.8rem;
}

.pikett_card {
  border: #ecbcfd 1px solid;
}

.dispatch_card {
  border: #ffd60a 1px solid;
}


/*====================
MAIN
======================*/

.main_content {
  position: absolute;
  top: 110px;
  left: 170px;
  width: calc(100vw - 170px);
  height: calc(100vh - 110px);
  padding-bottom: 50px;
}


/*====================
        LEGEND
======================*/

.legend_table {
  font-size: 0.7rem;
}

.legend_flag {
  width: 35px;
  border-radius: 3px;
}

.dispatch_flag {
  background-color: #ffd60a;
  color: #f48c06;
}

.pikett_flag {
  background-color: #ecbcfd;
  color: #9846cc;
}

.backup_flag {
  background-color: #9d78b4;
  color: white;
}

.kein_flag {
  background-color: #b14df0;
  color: white;
}

.spezial_flag {
  background-color: #414447;
  color: white;
}

.home_flag {
  background-color: #527a32;
  color: white;
}

.ferien_flag {
  background-color: #08c3e9;
}

.frei_flag {
  background-color: #88d498;
}

.militar_flag {
  background-color: #b76935;
}

.bildung_flag {
  background-color: #145ec0;
  color: white;
}

.krank_flag {
  background-color: #dc2f02;
}

.we_flag {
  background-color: #fcd5ce;
}

.hday_flag {
  background-color: #f4acb7;
}

.ohday_flag {
  background-color: #f7b267;
}


/*====================
        CALENDAR
======================*/

.date_cell {
  border: #000 1px solid;
}

.date_number {
  width: 30px;
}

.today_bg {
  background-color: #0ff507 !important;
}


/*====================
        HOLIDAY
======================*/

.title_blas {
  width: 100px;
  transform: rotate(10deg);
}

.btn_blas {
  width: 20px;
}


/*====================
        MEMBERS
======================*/

.member_card {
  width: 30%;
}

.card_btn {
  padding-left: 4px;
  padding-right: 4px;
}


/*====================
        FOOTER
======================*/

#footer {
  height: 40px;
  font-weight: 200;
  font-size: 0.7rem;
}