{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
<!-- LEGEND TABLE -->
<div class="legend_table d-flex flex-wrap justify-content-center my-2 w-75">
    {% for activity in activities %}
    <div class="d-flex align-items-center legend_bloc">
        <div class="{{ activity.activity_class }} legend_flag text-center m-1">{{ activity.short_name }}</div>
        <div class="me-3">{{ activity.name }}</div>
    </div>
    {% endfor %}
</div>
<!-- ANNUAL CALENDAR -->
<div>
    <table>
        <thead>
            <tr>
                <td class="text-center date_cell">{{ this_year }}</td>
                {% for i in iterator %}
                    {% if i == today %}
                        <td class="date_number text-center date_cell today_bg">
                    {% else %}
                        <td class="date_number text-center date_cell">
                    {% endif %}
                    {{ i }}</td>
                {% endfor %}
            </tr>
        </thead>
    </table>
</div>
{% endblock content %}