{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
<!-- LEGEND TABLE -->
<section class="legend d-flex justify-content-center">
    <div class="d-flex flex-wrap justify-content-center my-2 w-75">
        {% for activity in activities %}
        <div class="d-flex align-items-center legend_bloc">
            <div class="{{ activity.activity_class }} legend_flag text-center m-1">{{ activity.short_name }}</div>
            <div class="me-3">{{ activity.name }}</div>
        </div>
        {% endfor %}
        <div class="d-flex align-items-center legend_bloc">
            <div class="legend_flag weekend weekend_card text-center m-1">WE</div>
            <div class="me-3">Wochenende</div>
        </div>
        <div class="d-flex align-items-center legend_bloc">
            <div class="legend_flag holiday holiday_card text-center m-1">FT</div>
            <div class="me-3">Feiertage</div>
        </div>
        <div class="d-flex align-items-center legend_bloc">
            <div class="legend_flag other_holiday other_holiday_card text-center m-1">AF</div>
            <div class="me-3">Andere Feiertage</div>
        </div>
    </div>
</section>
<!-- ANNUAL CALENDAR -->
<div>
    <table id="cal_table">
        <thead id="cal_thead">
            <tr class="cal_tr text-center mt-5 date_cell">
                <th id="year_cell">
                    <form method="post">
                        {% csrf_token %}
                        <select  class="bg-light border border-0" name="year" id="year" onchange="this.form.submit()">
                            {% for year in years %}
                                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                                    {{ year }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </th>
                {% for i in iterator %}
                    {% if i == today and this_year == selected_year %}
                        <th class="cal_th date_number text-center date_cell today_bg">
                    {% else %}
                        <th class="cal_th date_number text-center date_cell">
                    {% endif %}
                        {{ i }}
                        </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ cal|safe }}
        </tbody>
    </table>
</div>
{% endblock content %}