{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block content %}
<!-- LEGEND TABLE -->
<div class="legend_table d-flex justify-content-center">
    <!-- First column -->
    <div class="me-4">
        <div class="d-flex m-1">
            <div class="legend_flag text-center dispatch_flag">
                D
            </div>
            <div class="ps-1">Dispatcher</div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center pikett_flag">
                P
            </div>
            <div class="ps-1">
                Pikett
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center pikett_flag">
                PSA
            </div>
            <div class="ps-1">
                Pikett Samstag
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center pikett_flag">
                PSO
            </div>
            <div class="ps-1">
                Pikett Sonn-/Feier-tage
            </div>
        </div>
    </div>
    <!-- Second column -->
    <div class="me-4">
        <div class="d-flex m-1">
            <div class="legend_flag text-center backup_flag">
                B
            </div>
            <div class="ps-1">Backup Pikett</div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center kein_flag">
                KP
            </div>
            <div class="ps-1">
                Kein Pikett
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center spezial_flag">
                SP
            </div>
            <div class="ps-1">
                Spezialauftrag
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center home_flag">
                H
            </div>
            <div class="ps-1">
                Home Office
            </div>
        </div>
    </div>
    <!-- Third column -->
    <div class="me-4">
        <div class="d-flex m-1">
            <div class="legend_flag text-center ferien_flag">
                F
            </div>
            <div class="ps-1">Ferien</div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center frei_flag">
                FK
            </div>
            <div class="ps-1">
                Frei/Kompensation
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center militar_flag">
                M
            </div>
            <div class="ps-1">
                Militär/ZVS
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center bildung_flag">
                W
            </div>
            <div class="ps-1">
                Weiterbildung
            </div>
        </div>
    </div>
    <!-- Fourth column -->
    <div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center krank_flag">
                K
            </div>
            <div class="ps-1">Krank</div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center we_flag">
            </div>
            <div class="ps-1">
                Wochende
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center hday_flag">
            </div>
            <div class="ps-1">
                Feiertag
            </div>
        </div>
        <div class="d-flex m-1">
            <div class="legend_flag text-center ohday_flag">
            </div>
            <div class="ps-1">
                Andere Feiertage
            </div>
        </div>
    </div>
</div>
<!-- ANNUAL CALENDAR -->
<div>
    <table>
        <thead>
            <tr>
                <td class="text-center date_cell">{{ this_year }}</td>
                {% for i in iterator %}
                    {% if i == today %}
                        <td class="date_number text-center date_cell today_bg">
                    {% else %}
                        <td class="date_number text-center date_cell">
                    {% endif %}
                    {{ i }}</td>
                {% endfor %}
            </tr>
        </thead>
    </table>
    <p>
        

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt ex sed est gravida, convallis luctus elit luctus. Mauris molestie augue euismod, commodo libero id, sodales urna. Etiam ac sapien erat. Phasellus suscipit est ullamcorper gravida aliquam. Sed nunc lectus, finibus in condimentum nec, dictum sed felis. Fusce ligula magna, maximus egestas faucibus in, iaculis sit amet risus. Morbi consectetur erat in ante tincidunt, quis consequat felis blandit. Donec quis magna enim. Curabitur orci tortor, viverra a eros vitae, tincidunt tincidunt metus. Nulla non nisi ac neque fermentum dictum ac in diam. Sed vel molestie risus. Aenean laoreet ligula risus, ac imperdiet risus mattis ut. Suspendisse lacinia mattis dolor, varius viverra massa eleifend at. Aenean at turpis vitae nunc dictum lobortis.

Vivamus eu sem ultricies, aliquet purus sit amet, mollis ex. Morbi faucibus nibh ac urna tincidunt, vel placerat arcu rutrum. Cras euismod massa dolor, ac semper nisl luctus vitae. Donec euismod imperdiet arcu, at euismod mi tristique id. Phasellus maximus aliquet luctus. Sed nec ligula et magna eleifend posuere sit amet et erat. Duis leo ante, laoreet non purus et, dictum interdum erat. Phasellus eu consequat ipsum. Ut vestibulum velit vitae feugiat convallis. Sed nec lectus at velit tempus sodales. Donec sit amet rutrum elit.

Donec dictum, massa quis accumsan viverra, tortor purus lobortis ipsum, sit amet viverra nibh diam ac turpis. Fusce at ultricies urna. Donec commodo, neque sed ornare vulputate, nulla eros tincidunt justo, in viverra nibh justo ut metus. Pellentesque feugiat mauris congue, tincidunt mauris sed, blandit metus. Suspendisse vel auctor metus, non finibus odio. Aliquam in semper orci. Integer scelerisque suscipit lorem eget dictum. Sed porttitor egestas leo, et aliquet lacus convallis vitae. Donec ultrices dui eu dolor vestibulum sodales.

Sed pharetra a quam porttitor efficitur. Fusce purus risus, interdum sit amet lacus non, semper laoreet nulla. Aliquam faucibus pulvinar eros a commodo. Integer sagittis nisi eget orci viverra posuere. Quisque sed metus facilisis, dapibus est eget, faucibus dui. Donec quis ligula dapibus odio ornare dictum. Vivamus lobortis dui nec consectetur tincidunt. Phasellus eu interdum sem. Vestibulum dapibus, leo in tempor tristique, ipsum eros dictum leo, nec convallis lorem lacus quis felis. Proin feugiat, magna id maximus pulvinar, magna magna condimentum libero, eu auctor eros diam vel tellus. Praesent ultricies ultrices eros et imperdiet.

Praesent tincidunt lacus arcu, in porttitor erat porta eget. Donec libero ex, vestibulum ac elit vitae, suscipit dictum erat. Pellentesque varius tortor et tortor hendrerit, id accumsan mi euismod. Nam blandit, sem in placerat commodo, ligula purus laoreet lectus, viverra ultrices est tellus ac turpis. Integer mollis odio vehicula est sollicitudin tincidunt. Quisque quis ex id est auctor volutpat. Sed porta aliquam tincidunt. Quisque in lectus id est bibendum mattis.

Aenean at suscipit sapien, posuere sollicitudin elit. Integer mattis nibh sed tellus dictum hendrerit. Vivamus nec molestie nisl. Maecenas tincidunt aliquam aliquet. Etiam sapien tellus, pretium ac enim at, bibendum tincidunt leo. Vivamus orci urna, mollis sed pretium non, tincidunt id mi. Sed vitae felis leo. Vestibulum euismod sapien odio, vitae rutrum nisl vulputate porttitor.

Integer vel lacinia libero. Maecenas tincidunt urna ac lectus tincidunt ultrices. Pellentesque auctor nisl eget est vulputate, in fermentum orci accumsan. Duis bibendum pharetra mauris, at ullamcorper lectus lobortis et. Nunc a neque elementum, porttitor ante at, dignissim tortor. Aliquam sit amet mi vitae sapien maximus lacinia non vel eros. Nunc porttitor faucibus leo eget consequat. Nam finibus, velit sed finibus placerat, urna sem euismod neque, nec iaculis arcu risus non dolor. Nulla hendrerit lacus sed neque aliquam, in interdum turpis consequat. Proin quis molestie felis. Maecenas ornare urna neque, sed tempor ante pellentesque et. Praesent metus purus, convallis eget lectus vitae, ornare ultrices risus. Etiam malesuada justo nec dui malesuada posuere. Ut pulvinar feugiat lacus nec aliquet. Duis et mattis nisl, id commodo arcu. Praesent nec leo leo.

Ut convallis varius elementum. Vestibulum nec erat gravida, varius dolor id, semper dui. Praesent sit amet nulla blandit, blandit elit a, aliquet arcu. Quisque sed tortor et ligula blandit viverra pulvinar a lectus. Sed fringilla odio in nulla tincidunt congue. Proin vitae interdum est. Ut feugiat scelerisque lorem, ut faucibus risus sollicitudin eget. Aenean cursus congue nisl nec viverra. Aenean magna velit, consequat eu aliquet non, mollis eget ligula. Curabitur luctus eros ante, sit amet faucibus ligula sodales at. Vivamus sit amet consectetur orci. Donec risus dolor, aliquet non ex vel, mattis scelerisque lorem. Integer aliquam mauris nunc, sed egestas ipsum accumsan eget. Aenean ornare malesuada diam, non accumsan diam posuere ac.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer non sodales sapien. Vivamus sit amet lectus id urna ornare sollicitudin. Duis non fermentum nisi. Quisque quis justo nibh. Nulla ac rutrum nunc, quis consequat neque. Ut nec gravida purus, ut aliquam sem. Phasellus vestibulum nulla sapien. Nunc ut malesuada ipsum. Fusce consectetur mattis sollicitudin. Aliquam erat volutpat. Suspendisse varius interdum viverra. Fusce tristique orci convallis sem dapibus, eget dictum nisi venenatis.

Ut aliquam ipsum convallis enim congue, ut molestie nulla pretium. Sed est mauris, tincidunt ut fringilla quis, imperdiet quis arcu. Donec faucibus purus neque, commodo dictum dui rhoncus eu. Quisque dignissim orci vitae pharetra varius. Proin id mi id turpis pellentesque rhoncus vel sit amet quam. Fusce erat turpis, ullamcorper ac ex a, eleifend sollicitudin purus. Etiam pulvinar iaculis scelerisque. Donec ac orci fermentum ipsum mattis sagittis. 
    </p>
</div>
{% endblock content %}