{% load crispy_forms_tags %}
<div class="modal-content">
    <form hx-post="{{ request.path }}" class="p-2" autocomplete="off" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center modal-header">
            <h4 class="modal-title">Neue Aktivität</h4>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.short_name|as_crispy_field }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="d-flex justify-content-start col-6">
                    <input id="bg_color" type="color" name="background_color" class="form-control form-control-color" value="{% if activity %}{{ activity.background_color }}{% endif %}">
                    <label for="bg_color" class="ms-2 pt-1">Hintergrund</label>
                </div>
                <div class="d-flex justify-content-start col-6">
                    <input id="txt_color" type="color" name="text_color" class="form-control form-control-color" value="{% if activity %}{{ activity.text_color }}{% endif %}">
                    <label for="txt_color" class="ms-2 pt-1">Text</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    {{ form.level|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.displayed|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-dismiss="modal">
                <i class="fa-solid fa-backward"></i>
            </button>
            <button type="submit" class="btn btn-sm btn-outline-primary">
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>