{% extends 'base.html' %}

{% block title %}Activities{% endblock title %}

{% block events_active %}active{% endblock events_active %}

{% block content %}
<h4 class="my-4">Aktivitäten Liste</h4>
<div class="w-50">
    <div class="d-flex justify-content-around my-3">
        <button type="button" class="btn btn-outline-primary" hx-get="{% url 'activity_add' %}" hx-target="#dialog"><i class="fa-solid fa-plus"></i></button>
        <div class="d-flex col-2">
            <input type="search"
                id="search_activity"
                class="form-control"
                name="search_activity" 
                placeholder="Suchen..." 
                hx-post="{% url 'activity_search' %}" 
                hx-trigger="keyup changed delay:500ms"
                hx-target="#activities_list">
            <a href="{% url 'activities' %}" class="btn btn-outline-secondary ms-2">
                <i class="fa-solid fa-rotate-left"></i>
            </a>
        </div>
    </div>
    <div id="activities_list" class="d-flex justify-content-center" hx-get="{% url 'activities_list' %}" hx-trigger="load, activitiesListChanged from:body">
        <!-- Inject htmx activities_list.html -->
    </div>
</div>


{% endblock content %}