<form id="checked_events" class="col-12">
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Benutzer</th>
                <th>Aktivität</th>
                <th>Von</th>
                <th>Bis</th>
                <th class="text-center">Bestätigt</th>
                <th>Geändert am</th>
                <th class="text-center">Aktiv</th>
                <th class="text-center">Angezeigt</th>
                <th>Kommentar</th>
                <th colspan="2" class="text-center">Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td class="test-center">
                    <input type="checkbox" name="event_check" id="event-{{ event.id }}" value="{{ event.id }}">
                    &nbsp;{{ event.id }}
                </td>
                <td>{{ event.user_id }}</td>
                <td>{{ event.activity_id }}</td>
                <td>{{ event.date_start|date:"j.m.Y" }}</td>
                <td>{{ event.date_stop|date:"j.m.Y" }}</td>
                <td class="text-center">{{ event.confirmed|yesno:"Ja,Nein" }}</td>
                <td>{{ event.changed_on|date:"j.m.Y - G:i" }}</td>
                <td class="text-center">{{ event.is_active|yesno:"Ja,Nein" }}</td>
                <td class="text-center">{{ event.displayed|yesno:"Ja,Nein" }}</td>
                <td>{{ event.comment }}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-sm text-primary" hx-get="{% url 'event_edit' event.id %}" hx-target="#dialog">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-sm text-danger" hx-post="{% url 'event_delete' event.id %}" hx-confirm="Willst du {{ event.activity_id }} von {{ event.user_id }} wirklich löschen?">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% for result in results %}
            <tr>
                <td class="test-center">{{ result.id }}</td>
                <td>{{ result.user_id }}</td>
                <td>{{ result.activity_id }}</td>
                <td>{{ result.date_start|date:"j.m.Y" }}</td>
                <td>{{ result.date_stop|date:"j.m.Y" }}</td>
                <td class="text-center">{{ result.confirmed|yesno:"Ja,Nein" }}</td>
                <td>{{ result.changed_on|date:"j.m.Y - G:i" }}</td>
                <td class="text-center">{{ result.is_active|yesno:"Ja,Nein" }}</td>
                <td class="text-center">{{ result.displayed|yesno:"Ja,Nein" }}</td>
                <td>{{ result.comment }}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-sm text-primary" hx-get="{% url 'event_edit' result.id %}" hx-target="#dialog">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-sm text-danger" hx-post="{% url 'event_delete' result.id %}" hx-confirm="Willst du {{ result.name }} von {{ result.user_id }} wirklich löschen?">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>