{% extends 'base.html' %}

{% block title %}Events{% endblock title %}

{% block events_active %}active{% endblock events_active %}

{% block content %}
<h4 class="my-4">Events Liste</h4>
<div class="w-75">
    <div class="d-flex justify-content-start my-3">
        <button type="button" class="btn btn-outline-primary me-auto" hx-get="{% url 'event_add' %}" hx-target="#dialog"><i class="fa-solid fa-calendar-plus"></i></button>
        <div class="d-flex col-2">
            {% comment %}
            <input type="search"
            id="search_event"
            class="form-control"
            name="search_event"
            placeholder="Suchen..."
            hx-post="{% url 'event_search' %}"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#events_list">
            <a href="{% url 'events' %}" class="btn btn-outline-secondary ms-2">
                <i class="fa-solid fa-rotate-left"></i>
            </a>
            {% endcomment %}
        </div>
        {% if user.role > 4 %}
        &nbsp;<a href="{% url 'event_permanent_removal' %}" class="btn btn-outline-info">Endgültige Löschung</a>
        {% endif %}
    </div>
    {% if user.role > 4 %}
    <div class="d-flex justify-content-start my-3">
        <button id="checkallbtn" type="button" class="btn btn-outline-secondary me-auto">
            <i class="fa-solid fa-check-double"></i>
        </button>
        <button id="deleteallbtn" type="button" class="btn btn-outline-danger" hx-include="#checked_events" hx-post="{% url 'event_multi_delete' %}" hx-confirm="Willst du wirklich alle ausgewählten Events löschen?">
            <i class="fa-regular fa-trash-can"></i>&nbsp;<i class="fa-solid fa-plus"></i>
        </button>
    </div>
    {% endif %}
    <div id="events_list" class="d-flex justify-content-center" hx-get="{% url 'events_list' %}" hx-trigger="load, eventsListChanged from:body">
        <!-- Inject htmx events_list.html -->
    </div>
</div>


{% endblock content %}