{% load events_extras %}
<table id="event_table" class="table table-striped mt-2">
    <thead>
        <tr>
            {% if user.role > 4 %}
            <th class="id_col align-middle">#</th>
            {% endif %}
            <th class="align-middle">Benutzer</th>
            <th class="align-middle">Aktivität</th>
            <th class="align-middle">Von</th>
            <th class="align-middle">Bis</th>
            <th class="text-center align-middle">Aktiv</th>
            <th class="text-center align-middle">Bestätigt</th>
            {% if user.role > 4 %}
            <th class="text-center align-middle">Standby</th>
            <th class="text-center align-middle">Angezeigt</th>
            <th class="align-middle">Geändert am</th>
            <th class="align-middle">Kommentar</th>
            {% endif %}
            <th colspan="2" class="text-center align-middle">Aktion</th>
        </tr>
    </thead>
    <form id="checked_events" class="col-12">
        <tbody>
            {% for event in events %}
            <tr>
                {% if user.role > 4 %}
                <td class="id_col">
                <input type="checkbox" name="event_check" id="event-{{ event.id }}" value="{{ event.id }}">
                &nbsp;{{ event.id }}
                </td>
                {% endif %}
                <td>{{ event.user_id }}</td>
                <td>{{ event.activity_id }}</td>
                <td>{{ event.date_start|date:"j.m.Y" }}</td>
                <td>{{ event.date_stop|date:"j.m.Y" }}</td>
                <td class="text-center">{{ event.is_active|boolsymbol }}</td>
                <td class="text-center">{{ event.confirmed|boolsymbol }}</td>
                {% if user.role > 4 %}
                <td class="text-center">{{ event.suspended|boolsymbol }}</td>
                <td class="text-center">{{ event.displayed|boolsymbol }}</td>
                <td>{{ event.changed_on|date:"j.m.Y - G:i" }}</td>
                <td>{{ event.comment|linebreaksbr }}</td>
                {% endif %}
                <td class="text-center align-middle p-0">
                    <button type="button" class="btn btn-sm text-primary p-0 ms-1"
                        {% if user.role < 4 and user.id != event.user_id.id or event.suspended == True %}disabled{% endif %}
                        hx-get="{% url 'event_edit' event.id %}"
                        hx-target="#dialog">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td class="text-center align-middle p-0">
                    <button type="button" class="btn btn-sm text-danger p-0"
                        {% if event.activity_id.level > 2 and user.role < 4 or user.id != event.user_id.id and user.role < 4 or event.is_active == False %}disabled{% endif %}
                        hx-post="{% url 'event_delete' event.id %}"
                        hx-confirm="Willst du {{ event.activity_id }} von {{ event.user_id }} wirklich löschen?">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% for result in results %}
            <tr>
                {% if user.role > 4 %}
                <td class="id_col">
                    <input type="checkbox" name="event_check" id="event-{{ result.id }}" value="{{ result.id }}">
                    &nbsp;{{ result.id }}
                </td>
                {% endif %}
                <td>{{ result.user_id }}</td>
                <td>{{ result.activity_id }}</td>
                <td>{{ result.date_start|date:"j.m.Y" }}</td>
                <td>{{ result.date_stop|date:"j.m.Y" }}</td>
                <td class="text-center">{{ result.is_active|boolsymbol }}</td>
                <td class="text-center">{{ result.confirmed|boolsymbol }}</td>
                {% if user.role > 4 %}
                <td class="text-center">{{ result.suspended|boolsymbol }}</td>
                <td class="text-center">{{ result.displayed|boolsymbol }}</td>
                <td>{{ result.changed_on|date:"j.m.Y - G:i" }}</td>
                <td>{{ result.comment }}</td>
                {% endif %}
                <td class="text-center align-middle p-0">
                    <button type="button" class="btn btn-sm text-primary p-0 ms-1"
                        {% if user.role < 4 and user.id != result.user_id.id or user.role < result.activity_id.level %}disabled{% endif %}
                        hx-get="{% url 'event_edit' result.id %}"
                        hx-target="#dialog">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td class="text-center align-middle p-0">
                    <button type="button" class="btn btn-sm text-danger p-0"
                        {% if result.activity_id.level > 2 and user.id == result.user_id.id and user.role < 4 or result.is_active == False %}disabled{% endif %}
                        hx-post="{% url 'event_delete' result.id %}"
                        hx-confirm="Willst du {{ result.activity_id }} von {{ result.user_id }} wirklich löschen?">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </form>
</table>