{% load i18n %}{% autoescape off %}
{% blocktranslate %}
Hallo {{ member.first_name|title }},

Du erhaltest diese E-Mail, weil du ein neues Passwort für dein Benutzerkonto bei Workplan beantragt hast.{% endblocktranslate %}

{% translate "Bitte öffnet die folgende Seite, um dein neues Passwort einzugeben:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_new' type='reset' uidb64=uid token=token %}
{% endblock %}
{% translate 'Dein Pseudo, falls du vergisst:' %} {{ user.get_username }}

{% translate "Wenn du dein Passwort nicht innerhalb der nächsten {{ timeout_days }} Tage zurücksetzt, musst du einen neuen Antrag stellen." %}

{% blocktranslate %}Der Admin{% endblocktranslate %}

{% endautoescape %}